<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceClass" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceClass">
                    <security mode="Message" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceClass" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WCFService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServiceClass" contract="CustomerService.IServiceClass"
                name="WSHttpBinding_IServiceClass">
                <identity>
                    <userPrincipalName value="diegopc2014\Diego" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:7777/WCFService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceClass" contract="CustomerService.IServiceClass"
                name="NetTcpBinding_IServiceClass">
                <identity>
                    <userPrincipalName value="diegopc2014\Diego" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5341/WCFService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceClass" contract="CustomerService.IServiceClass"
                name="BasicHttpBinding_IServiceClass" />
        </client>
    </system.serviceModel>
</configuration>