<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="Message">
            <message clientCredentialType="Windows" ></message>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WCFServiceHost.Wcf.ServiceClass" behaviorConfiguration="metadataSupport">
        <host>
          <baseAddresses>          
            <add baseAddress="net.tcp://localhost:7777/WCFService"/>
            <add baseAddress="http://localhost:8080/WCFService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="WCFServiceHost.Wcf.IServiceClass"/>      
        <endpoint address="" binding="netTcpBinding" contract="WCFServiceHost.Wcf.IServiceClass"/>
        <endpoint address="http://localhost:5341/WCFService" binding="basicHttpBinding" contract="WCFServiceHost.Wcf.IServiceClass"/>
        <!--discovering-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>    
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>        
        <behavior  name="metadataSupport">
          <serviceThrottling maxConcurrentCalls="1"
                             maxConcurrentSessions="1" 
                             maxConcurrentInstances="1"/>
          <serviceMetadata httpGetEnabled="false" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>




